﻿
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td align="center">
                <p>Thank you for choosing LOVE.NET</p>
                <br />

                <p>
                    The web application offers you chance to meet your future love
                <br />
                <p>
                    To access your account, verify your email:
                </p>
                <br />
                <div>
                    <a href='{0}' style="border-radius: 10px; text-decoration: none; padding: 10px; display: inline-flex; background-color: red; border: 2px solid white; color: white; ">Verify</a>
                </div>
                <br />
                <p>
                    Have fun and stay safe!
                </p>
            </td>
        </tr>
    </table>
</body>
</html>